* {
    border: none;
    border-radius: 4px;
    font-family: 'Fira Code', 'Font Awesome 6 Free', Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    border-radius: 0;
    background-color: rgba(40, 40, 40, 0.9);
    /* border-bottom: 3px solid #7c6f64; */
    color: #fbf1c7;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #a89984;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: #3c3836;
    box-shadow: inset 0 -3px #a89984;
}

#workspaces button.focused {
    background-color: #504945;
    color: #fe8019;
    box-shadow: inset 0 -3px #fe8019;
}

#workspaces button.active {
    background-color: #504945;
    color: #fe8019;
    box-shadow: inset 0 -3px #fe8019;
}

#workspaces button.urgent {
    background-color: #cc241d;
}

#mode {
    background-color: #7c6f64;
    color: #282828;
    box-shadow: inset 0 -3px #7c6f64;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-lightsleeper,
#custom-keyboard,
#custom-fingertouch,
#custom-dunst,
#custom-clipman,
#custom-pcloud,
#custom-keyring,
#custom-pomodoro,
#custom-uptime,
#mpd {
    padding: 0 5px;
    margin: 5px 3px;
    background-color: #504945;
    color: #fbf1c7;
    /* box-shadow: inset 0 -3px #7c6f64; */
}

#window {
    padding: 0 10px;
    margin: 5px 100px;
    background-color: #665c54;
}
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #665c54;
    color: #fbf1c7;
}

#battery {
    color: #d79921;
}

#battery.charging, #battery.plugged {
    color: #98971a;
}

@keyframes blink {
    to {
        background-color: #fbf1c7;
        color: #282828;
    }
}

#battery.critical:not(.charging) {
    color: #fb4934;
    box-shadow: inset 0 -3px #cc241d;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #282828;
}

#cpu,
#memory,
#disk {
    color: #d3869b;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    color: #83a598;
}

#network.disconnected {
    color: #f53c3c;
}

#pulseaudio {
    color: #fabd2f;
}

#pulseaudio.muted {
    color: #a89984;
}

#custom-media {
    color: #a89984;
}

#custom-media.custom-spotifyd {
    color: #b8bb26;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    color: #b8bb26;
}

#temperature.critical {
    color: #fb4934;
    box-shadow: inset 0 -3px #cc241d;
}

#tray {
    background-color: #3c3836;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#custom-uptime {
    color: #b8bb26;
}

#custom-lightsleeper.on,
#custom-keyboard.on,
#custom-fingertouch.on,
#custom-clipman.on {
    color: #8ec07c;
}
#custom-pcloud.on,
#custom-dunst.on,
#custom-keyring.off {
    color: #b8bb26;
}
#custom-lightsleeper.off,
#custom-keyboard.off,
#custom-fingertouch.off,
#custom-clipman.off {
    color: #7c6f64;
}
#custom-pcloud.off,
#custom-dunst.off,
#custom-keyring.on {
    color: #fb4934;
}
#custom-pomodoro.work {
    color: #fb4934;
}
#custom-pomodoro.paus {
    color: #b8bb26;
}
#custom-pomodoro.inactive {
    color: #7c6f64;
}
